.liftingStateUpParent {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  margin: 200px auto;
  text-align: center;

  .top {
    height: 50%;
    border: 1px solid black;
  }

  .bottom {
    display: flex;
    height: 50%;

    .firstChild,
    .secondChild {
      width: 50%;
      border: 1px solid black;
    }

    .body {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;

      > button {
        width: 40px;
        height: 40px;
        font-size: 30px;
      }
    }
  }
}
