.cardList {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardListForm {
  .cardListInput {
    margin-bottom: 50px;
  }

  button {
    border: 0;
    padding: 5px;
    background-color: rgb(57, 57, 57);
    color: white;
  }
}
