.pageBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;

  button {
    all: unset;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;

    &.selected {
      color: blue;
      background-color: gray;
    }
  }
}
