div.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 60px;
  color: #efefef;
  background-color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  .name {
    padding: 20px 0 10px;
  }
}
