body {
   background-color: #373737;
}
.monsters {
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: center;
   align-items: center;
}

.title {
   font-size: 50px;
   font-weight: 800;
   color: white;
   margin-top: 50px;
   margin-bottom: 30px;
}

.search {
   background-color: white;
   border-radius: 30px;
   padding: 15px;
   width: 800px;
   height: 20px;
   border-width: 0px;
   text-align: center;
}

.monsterWrapper {
   display: flex;
   flex-direction: row;
}
