@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kavoon&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.card {
   background-color: lightgray;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   padding: 20px;
   border-radius: 20px;
}

.monsterImg {
   width: 200px;
}

.name {
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 5px;
   font-weight: 600;
   font-family: 'Fredoka One', cursive;
}

.email {
   font-size: 15px;
   margin-top: 5px;
   margin-bottom: 0px;
   color: gray;
   font-family: 'Comfortaa', cursive;
}
